@font-face {
  font-family: Catamaran-Regular;
  src: url('assets/fonts/Catamaran-Regular.ttf');
}

@font-face {
  font-family: Catamaran-Bold;
  src: url('assets/fonts/Catamaran-Bold.ttf');
}

@font-face {
  font-family: Catamaran-Light;
  src: url('assets/fonts/Catamaran-Light.ttf');
}

* {
  font-family: 'Catamaran-Light';
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #181818;
}